asgiref==3.7.2
backports.zoneinfo==0.2.1
cmake==3.18.4.post1
colorama==0.4.4
decorator==4.4.2
defusedxml==0.7.1
Django==4.2.2
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
face-recognition-models==0.3.0
filelock==3.0.12
Flask-MySQL==1.5.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.3
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.17.2
json5==0.9.5
jsonschema==3.2.0
mistune==0.8.4
mutagen==1.45.1
mysql-connector==2.2.9
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
notebook==6.2.0
numpy==1.19.4
opencv-python==4.4.0.46
openpyxl==3.0.5
pandas==1.1.1
pandocfilters==1.4.3
parso==0.7.1
pickleshare==0.7.5
Pillow==8.0.1
pipenv==2020.11.15
prometheus-client==0.9.0
prompt-toolkit==3.0.17
psycopg2-binary==2.9.6
pycparser==2.20
pycrossword==0.4.0.3
pygame==2.0.0
Pygments==2.7.2
PyMySQL==0.10.1
pyparsing==2.4.7
pypiwin32==223
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.15.0
PyQt5-sip==12.8.1
pyrsistent==0.16.0
python-dateutil==2.8.1
python-decouple==3.8
pytube==10.6.0
pywin32==300
pywinpty==0.5.7
pyzbar==0.1.8
pyzmq==22.0.3
QScintilla==2.11.5
Send2Trash==1.5.0
sniffio==1.2.0
spotipy==2.16.1
SQLAlchemy==1.3.18
sqlparse==0.4.4
terminado==0.9.3
testpath==0.4.4
toolz==0.10.0
tornado==6.1
traitlets==5.0.5
typing-extensions==4.6.3
tzdata==2023.3
virtualenv-clone==0.5.4
wcwidth==0.2.5
webencodings==0.5.1
Yapsy==1.12.2
youtube-search==2.1.0
