asgiref==3.7.2
backports.zoneinfo;python_version<"3.9"
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.2
dj-database-url==2.0.0
Django==4.2
django-detect==1.0.20
django-jet-reboot==1.3.3
django-six==1.0.5
django-smtp-ssl==1.0
et-xmlfile==1.1.0
gunicorn==21.2.0
idna==3.4
numpy==1.24.4
openpyxl==3.1.2
packaging==23.1
psycopg2==2.9.6
psycopg2-binary==2.9.6
pycparser==2.21
pyOpenSSL==23.2.0
pypng==0.20220715.0
PyQRCode==1.2.1
python-decouple==3.8
python-dotenv==1.0.0
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
