body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    max-width: 300px;
    padding: 20px;
    width: 45%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo {
    text-align: center;
}

.logo img {
    height: 100px;
}

.login-box {
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container button {
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container button:hover {
    background-color: #a94817;
}

/* "activate-account" link */
.activate-account {
    text-align: center;
    margin-top: 15px;
}

.activate-account a {
    color: #007bff;
    text-decoration: none;
}

.activate-account a:hover {
    text-decoration: underline;
}

/* Animation */
.container {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive styles */
@media screen and (max-width: 500px) {
    .container {
        max-width: 90%;
        width: 70%;
    }
}
