<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="{% static 'clans.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <title>Battle of Hoods | Frosh 23</title>
</head>
<body>
    <img src="{% static 'logo white transparent.png' %}" alt="logo" class="logo">
    <h1 style="color: white;">Battle of Hoods Initiation</h1>
    <div class="container">
        {% csrf_token %}
        <div class="card" id="oathkeepers">
            <div class="pref-number">1</div>
            <img src="{% static 'oathkeepersfinal.png' %}" alt="Clan 1 Logo">
        </div>
        <div class="card" id="deathstars">
            <div class="pref-number">2</div>
            <img src="{% static 'death stars.png' %}" alt="Clan 2 Logo">
        </div>
        <div class="card" id="stormbreakers">
            <div class="pref-number">3</div>
            <img src="{% static 'Stormbreaker.png' %}" alt="Clan 3 Logo">
        </div>
        <div class="card" id="tideoftridents">
            <div class="pref-number">4</div>
            <img src="{% static 'tideoftriendets.png' %}" alt="Clan 4 Logo">
        </div>
        <div class="btn-group">
            <button class="btn btn-clear" id="clearBtn">Clear</button>
            <button class="btn" id="submitBtn">Submit</button>
        </div>
    </div>
    <script src="{% static 'clans.js' %}"></script>
</body>
</html>