<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="../static/login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="logo">
      <!-- Replace 'your-logo.png' with the path to your logo image -->
      <img src="../static/logo textture+ No background.png" alt="Logo">
    </div>
    <div class="spin" id="spinbox">
      <div class="spinner"></div>
    </div>
    <div class="login-box">
      <form method="post" action="/login/">
        {% csrf_token %}
        <input type="text" placeholder="Application Number" id="username" name="username" required>
        <input type="password" placeholder="Password" id="password" name="password" required>
        <button type="submit">Login</button>
      </form>
      <!-- "Forgot Password" link -->
      <div class="activate-account">
        <a href="/activate">Activate Account</a>
      </div>
    </div>
  </div>
  <script>
    var spinbox = document.getElementById("spinbox");
    // To hide the spinbox on load
    spinbox.style.display = "flex";
    document.addEventListener("DOMContentLoaded", function () {

      // To hide the spinbox on load
      spinbox.style.display = "none";
      // To show the spinbox on load
      // spinbox.style.display = "block"; // or "inline-block" depending on your layout
    });
    toastr.options = {
      "closeButton": true,
      "newestOnTop": true,
      "progressBar": true,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "7000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }</script>
  {% if messages %}
  {% for message in messages %}
  <script>
    toastr.info("{{ message }}")
  </script>
  {% endfor %}
  {% endif %}

</body>

</html>