<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    <table style="border: 5px; border-style: dotted;">
        <tr>
            <td>Name</td>
            <td>Venue</td>
            <td>Date</td>
        </tr>
        {% for event in events %}
        <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.venue }}</td>
            <td>{{ event.date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>