<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Entry Scanner</title>
  <script src="https://kit.fontawesome.com/56f1776af2.js" crossorigin="anonymous"></script>
  <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/scanner.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="../static/scanner.js"></script>
</head>

<body>
  <div class="logo-container">
    <div class="logo">
      <img src="../static/logo white transparent.png" alt="logo" width="auto" height="80%">
    </div>
  </div>
  <div style="text-align: center;">
    <label for="field" id="event-name">Event</label>
    <select id="field" name="field" data-name="Field" class="w-select" onchange="selectEvent()">
      <option value="">Select one...</option>
      <option value="event@Frosh23">Slot 1</option>

    </select>
    <span id="error"></span>
  </div>
  <div class="sides" id="funcs">
    <button onclick="selectEvent()" id="button">Start Camera</button>
    <button onclick="switchCamera()" id="switch-button">Switch Camera</button>
  </div>

  <div id="qr-result"></div>
  <div id="camera-preview">
    <div class="rectangle" id="rectangle"></div>
  </div>
  <div class="modal" id="eventModal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <div class="container_first">
        <img class="container_img" id="imageUrl" src="" alt="Event Image">
        <div class="modal_data">
          <h2 id="title" class="title">Hello </h2>
          <p id="description" class="description">Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="container_second">
        <button class="calender" id="calender"></button>
        <button class="book" id="book">
          Book now!
        </button>
      </div>
    </div>
  </div>
  <!-- <button onclick="switchCamera()" id="switch-button">Switch Camera</button> -->

  <script src="../static/camera.js"></script>
  <script src="../static/scanner.js"></script>
  <!-- Add JavaScript for camera and modal functionality here -->

</body>

</html>